<!doctype html>
<html>

<head>
        <link href="{{ url_for('static', filename='css/tree.css') }}" rel="stylesheet">
</head>

<body onload="initialize()">

<div id="header">
    Family Tree
</div>

<div id="control_panel">
    <button id="add_child">
        Add Child
    </button>
    <button id="remove_node">
        Remove Node
    </button><br><br>
    <div id="information_panel">&nbsp;</div>
    <div style="text-align:center;"><a href="/"><h1>
        Gallery
    </h1></a></div>
</div>

<div id="divider"></div>

<div id="main">
    <canvas id="canvas"></canvas>
</div>
</body>
<footer>
    <script src="{{ url_for('static', filename='js/main_tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>        
</footer>
</html>